@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

body {
    background-color: #252934;
}

#headerbg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjU1NzQ5fQ&w=1000&q=80");
    width: 100%;
    height: 25em;
}

#profilepic {
    position: absolute;
    background-image: url("https://scontent.fdet1-2.fna.fbcdn.net/v/t1.0-1/s200x200/104102812_3388478907851168_3483446643681804042_o.jpg?_nc_cat=108&_nc_sid=7206a8&_nc_ohc=F0uEthLWCGEAX-cEyBH&_nc_ht=scontent.fdet1-2.fna&_nc_tp=7&oh=9d0820a74f7cf5f14f635f545d3f0030&oe=5F493BDA");
    border: 2.5px solid white;
    border-radius: 50%;
    width: 12em;
    height: 12em;
    object-fit: scale-down;
}

#navlinkdiv {
    display: flex;
    flex-direction: row;
    width: 75vw;
    height: 2.5em;
    margin-top: auto;
    background-color: #252934c4;
    transition: 0.4s ease;
}

.navs {
display: flex;
justify-content: center;
align-items: center;
border: 3px solid rgb(255, 255, 255);
width: 25em;
height: 1.5em;
text-decoration: none;
}

.navs:hover {
background-color: rgba(255, 255, 255, 0.363);
transition: ease 0.5s;
}

.navs {
font-size: 1.5em;
font-family: 'Rowdies', cursive;
}
.navs > p {
    color: white;
    text-decoration: none;
}
.navs > p:hover {
    color: #e31b6d;
    text-shadow: 2px 2px #252934;
    transition: 0.2 ease;
}

#hello {
    color: white;
    margin-top: auto;
    z-index: 100000;
    margin-bottom: 10em;
    text-shadow: 3px 3px black;
}

mark {
    color: #e31b6d;
    background: none
}