@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

body {
    background-color: #252934;
}

#headerbg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjU1NzQ5fQ&w=1000&q=80");
    width: 100%;
    height: 25em;
}

#profilepic {
    position: absolute;
    background-image: url(../resources/profile\ 1.png);
    border: 2.5px solid white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    object-fit: cover;
}

#profilepic:hover {
    background-image: url(../resources/profile\ 2.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
}

#profilediv {
    text-indent: -50%;
}

#navlinkdiv {
    display: flex;
    flex-direction: row;
    width: 75vw;
    height: 2.5em;
    margin-top: auto;
    background-color: #252934c4;
    transition: 0.4s ease;
}

.navs {
display: flex;
justify-content: center;
align-items: center;
border: 3px solid rgb(255, 255, 255);
width: 25em;
height: 1.5em;
text-decoration: none;
}

.navs:hover {
background-color: rgba(255, 255, 255, 0.363);
transition: ease 0.5s;
}

.navs {
font-size: 1.5em;
font-family: 'Rowdies', cursive;
}
.navs > p {
    color: white;
    text-decoration: none;
}
.navs > p:hover {
    color: #e31b6d;
    text-shadow: 2px 2px #252934;
    transition: 0.2 ease;
}

#hello {
    color: white;
    margin-top: auto;
    z-index: 100000;
    margin-bottom: 10em;
    text-shadow: 3px 3px black;
}

mark {
    color: #e31b6d;
    background: none
}