#headerbg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blue;
    width: 100%;
    height: 25em;
}

#profilepic {
    position: absolute;
    background-color: red;
    border: 2.5px solid white;
    border-radius: 50%;
    width: 12em;
    height: 12em;
}

#navlinkdiv {
    width: 75em;
    height: 2.5em;
    background-color: yellow;
    margin-top: auto;
}